ul {
  list-style: none;
  /*background-image: url('../../../assets/images/auto.png');*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*background-position: left center;*/
  width: 267px;
  height: 26px;
  border-bottom: 1px solid #EDEDED;
  margin: 0;
  padding: 0;
}
li {
  font-size: 11px;
  line-height: 13px;
  padding-top: 6px;
  padding-left: 16px;
}
.change-color {
  background: rgba(255, 245, 0, 0.4);
}
li img {
  width: 13px;
  height: 11px;
  padding-right: 5px;
}


