.container {
  position: absolute;
  left: 1138px;
  width: 267px;
  height: 861px;
  background: #FFFFFF;
  border-radius: 9px;
}
h1 {
  width: 101px;
  height: 28px;
  margin-left: 16px;
  margin-top: 11px;
  font-size: 24px;
  line-height: 28px;
}
input {
  width: 267px;
  height: 33px;
  background: #F2F2F2;
  font-size: 13px;
  line-height: 15px;
  border: none;
}

ul {
  list-style: none;
  background-image: url('../../../assets/images/auto.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 11px;
}
.select {
  color: darkred;
}
