input {
  width: 240px;
  height: 33px;
  padding-left: 6px;
  margin-left: 10px;
  background: #F2F2F2;
  font-size: 13px;
  line-height: 15px;
  border: none;
}
input::placeholder {

  color: #000000;
}
